* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first_section {
  background-image: url("./images/Back_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 35px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-top: 63px;
  margin-left: 180px;
  
}

.logo a{
  text-decoration: none;
  color: #ffffff;
}

.menu {
  margin-top: 63px;
  margin-right: 175px;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

.menu ul li {
  font-size: 35px;
  font-weight: 700;
  font-family: "Raleway";
}
.menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.section_one {
  text-align: center;
  width: 758px;
  height: 472px;
  background-color: rgba(255, 255, 255, 0.82);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 219px;
  gap: 24px;
}

.section_one .brunch {
  font-size: 104px;
  color: #2c3a42;
  font-weight: 400;
  font-family: "Cookie";
  /* height: 67px; */
}

.section_one .fullWeb {
  font-size: 77px;
  text-transform: uppercase;
  color: #ad6c12;
  font-weight: 600;
  font-family: "Raleway";
  /* height: 56px; */
}

.rdMore {
  width: 266px;
  height: 59px;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 38px;
  color: #26363a;
  font-weight: 600;
  font-family: "Raleway";
  cursor: pointer;
  z-index: 1;
}

.second_section {
  background-color: #2a3b40;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
}
.second_section .indian {
  width: 553px;
  height: 155px;
}
.second_section .indian .indian1 {
  font-size: 29px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
}
.second_section .indian .indian2 {
  margin-top: 47px;
  font-size: 19px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Raleway";
}

.second_section .img1 img {
  width: 527px;
  height: 354px;
  margin: 70px auto 68px auto;
}

.third_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 376px;
  gap: 106px;
}

.dot {
  height: 32px;
  width: 32px;
  background-color: #2a3b40;
  border-radius: 50%;
  display: inline-block;
}

.size1 {
  width: 289px;
  height: 189px;
}

.new_taste {
  font-size: 19px;
  line-height: 33px;
  color: #2a3b40;
  font-weight: 700;
  font-family: "Raleway";
  margin-top: 30px;
}
.new_taste_lorem {
  font-size: 17px;
  line-height: 25px;
  color: #2a3b40;
  font-weight: 400;
  font-family: "Raleway";
  margin-top: 38px;
}
.new_spices {
  font-size: 19px;
  line-height: 33px;
  color: #2a3b40;
  font-weight: 700;
  font-family: "Raleway";
  margin-top: 30px;
}
.new_spice_lorem {
  font-size: 17px;
  line-height: 25px;
  color: #2a3b40;
  font-weight: 400;
  font-family: "Raleway";
  margin-top: 38px;
}
.new_dishes {
  font-size: 19px;
  line-height: 33px;
  color: #2a3b40;
  font-weight: 700;
  font-family: "Raleway";
  margin-top: 30px;
}
.new_dishes_lorem {
  font-size: 17px;
  line-height: 25px;
  color: #2a3b40;
  font-weight: 400;
  font-family: "Raleway";
  margin-top: 38px;
}

.fourth_section {
  background-image: url("./images/img_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1206px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_four {
  width: 1030px;
  height: 1082px;
  background-color: rgba(255, 255, 255, 0.82);
  text-align: center;
}
.sec_four_1 {
  padding-top: 54px;
  padding-bottom: 55px;
}

.india {
  font-size: 77px;
  color: #304751;
  font-weight: 400;
  font-family: "Cookie";
}
.on_your {
  font-size: 48px;
  text-transform: uppercase;
  color: #ad6c12;
  font-weight: 600;
  font-family: "Raleway";
}

.row {
  display: flex;
}
.row img {
  width: 25%;
  height: 277px;
}
.row div {
  width: 25%;
  height: 277px;
}

.para_4_1 {
  font-size: 18px;
  text-transform: uppercase;
  color: #304751;
  font-weight: 700;
  font-family: "Raleway";
}
.para_4_2 {
  font-size: 17px;
  color: #304751;
  font-weight: 400;
  font-family: "Raleway";
  text-align: center;
}
.para_4_3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #304751;
  font-weight: 700;
  font-family: "Raleway";
}

.row_1_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
